* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-center {
    text-align: center;
}

header,
main {
    margin: 140px;
    margin-top: 50px;
}

.hero-header {
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.hero-text-content {
    color: white;

}

.text-sub-title {
    font-size: 32px;
    font-weight: normal;
}

.text-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 95px;
}

.offer-percentage {
    padding-bottom: 40px;
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
}
.offer-description{
    padding-bottom: 48px;
}
.offer-primary-text{
    padding-bottom: 16px;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}
.offer-secoundary-text{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}